.App {
    /*text-align: center;*/
}

.d-flex {
    display: flex;
}

.button {
    height: 20px;
    margin-top: 55px;
}

.todo-input {
    column-gap: 50px;
    margin-left: 50px;
}

.todoList {
    margin-left: 50px;
    width: 450px;
    background: rgba(241, 244, 246, 0.91);
    margin-top: 100px;
    padding: 5px 50px;
}

.todoList > div {
    width: 120px;
    overflow-x: hidden;
}

.tasks {
    margin-top: 10px;
    background: rgba(110, 116, 119, 0.55);
    height: 30px;
    text-decoration: none;
    color: #000;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup-content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    min-width: 300px;
    padding: 30px;
    position: relative;
}

.popup-close {
}

.popup-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 1em 0;
    text-align: center;
}

.m5 {
    margin: 5px 0;
}

.titleError {
    display: none;
    color: red;
}
